.header {
    background-color: #DD8EA4;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .link {
    color: #DD8EA4;
    text-decoration: none;
  }
  
  .main {
    padding: 20px;
    background-image: url('../../images/kid.jpg');
    background-size:cover;
    background-position: center;
  }
  
  .button-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 30px;
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #31383F;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  