#root {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
  background-color: #F2E9EB;
  /* padding: 2rem; */
  /* text-align: center; */
}

.parentHeader {
  background-color: #DD8EA4;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
